[Unit]
Description=Node Exporter

[Service]
User=root
ExecStart=/usr/local/bin/node_exporter --web.listen-address=":9001"

[Install]
WantedBy=multi-user.target